*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'century gothic',Arial, sans-serif;
}

body{
    width: 100vm;
}

nav{
    top: 0px;
    left:0px;
    width:100vw;
    height: 48px;
    background-color:  #2699FB;
    opacity: 1;
    
}

.titulo{
    color:#FFFFFF;
    font-size: 30px;
    margin-top: 6px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;

}    

.menu{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin-left: 15px;

}
    
.icone{
    width: 10%;
    max-width: 40px;

}
.texto{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.25em;
    text-emphasis: none;

}
hr{
    background-color: #2699FB;
    max-width: 98vw;
    margin-left: 5px;
}
.efeito{
    text-decoration: none;
    color: #2699FB;
}

