* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic',Arial, sans-serif;
}

body {
    background-image: url("img/bg-pedidos.jpg");
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: 43% 48px;
    background-attachment: fixed;
}

/* Inicio Header */

.top-header {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 48px;
    background: #2699FB 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top-header a {
    width: 40px;
    height: 90%;
    position: absolute;
}

.top-header a img{
    height: 100%;
}

.header-title {
    margin-left: auto;
    margin-right: auto;
}

.top-header h1 {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 30px;
}

.back-btn {
    z-index: 2000;
    background-color: #2699FB;
    opacity: 0.8;
    padding-top: 6px;
    height: 48px;
}

.back-btn img {
    width: 36px;
    height: 36px;
}

/* Fim Header */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 82px;
}

/* Inicio Container de Pedidos */

.order-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    opacity: 0.95;
    width: 85vw;
    margin-bottom: 24px;
}

.order-container a{
    text-decoration: none;
}
.order-box {
    width: 92%;
    margin: 17px 0;
    margin-left: 15px;
    align-self: center;
}

.order-user {
    font-size: 20px;
    font-weight: lighter;
    color: #2699FB;
}

.order-description {
    margin-top: 14px;
    padding: 10px 12px;
    border: 1px solid #2699FB;
}

span {
    font-size: 20px;
    color: #2699FB;
}

hr {
    margin: 4px 0;
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color:#2699FB;
    height: 1px;
}

.order-location {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.order-location img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

/* Fim Container de Pedidos */

@media (min-width: 600px) {
    body {
        background-image: url("img/bg-pedidos.jpg");
        background-position: 0px;
        background-size: cover;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .order-container {
        width: 350px;
        margin: 32px 32px;
    }
}