* {
    
    font-family: 'century gothic',Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

/* Estilização da nav */
header {
    display: flex;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    background-color: #2299fb;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.goBack {
    display: flex;
    margin-right: auto;
}
.goBack img {
    margin-left: 0;
    width: 40px;
    height: 40px;
}

.h1 {
    display: flex;
    color: #fff;
    margin-right: auto;
    margin-left: -40px;
}

/* Estilização do Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilização da Section */
.content {
    display: flex;
    flex-direction: column;
    width: 85vw;
    padding: 15px 0;
}

/* Estilização da div que contém o id e img */
.logoId {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.imgId {
    width: 40px;
    height: 40px;
}

.cardId {
    font-weight: 400;
    line-height: 24px;
    color: #2299fb;
}

/* Estilização do campo que contém as informações */
.signIn {
    width: 95%;
    height: 48px;
    margin-left: auto;
    margin-top: 15px;
    padding-left: 15px;
    background-color: #fff;
    border: 1px solid #2299fb;
    border-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #2299fb;
}

::-webkit-input-placeholder {
    color: rgb(56, 72, 87);
}

/* Estilização dos campos de pagamentos e gorjeta */
.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 38px;
    margin-left: auto;
    margin-top: 15px;
}

input[type=radio] {
    display: none;
}

.imgOption {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.opcoes label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 21px;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo que altera o radbutton quando checked */
input[type=radio] + label {
    color: #707070;
    border: 1px solid #707070;
}

input[type=radio]:checked + label {
    border: 1px solid #2299fb;
    color: #2299fb;
}

/* Estilização dos botões gorjeta */
.ajuste {
    display: flex;
    width: 95%;
    margin-left: auto;
}
.gorjeta {
    display: flex;
    width: 56px;
    height: 23px;
    margin-right: 8px;
    margin-left: 0;
}

.buttonData {
    width: 254px;
    height: 43px;
    margin-top: 20px;
    background-color: #2299fb;
    color: #fff;
    border: 1px solid #2299fb;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: 200ms ease-out;
}

.buttonData:active {
    background-color: white;
    border: 1px solid #2699FB;
    color: #2699FB;
}

@media only screen and (min-width: 750px){
    .content{
        width: 40vw;
    };
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 60% auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
    text-align: center;
  }
  
  .modal-header {
    background: #fff;
    padding: 15px;
    color: green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: rgb(107, 104, 104);
    float: right;
    font-size: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }