* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
    font-family: 'Century Gothic', Arial, sans-serif;
}

/* Inicio Header */

.top-header {
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 48px;
    background: #2699FB 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
}

.header-title {
    display: flex;
    justify-content: center;
}

.top-header h1 {
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100vw;
    font-size: 30px;
}

.top-header a{
    width: 50px;
    height: 100%;
    position: absolute;
}

.top-header a img{
    height: 100%;
    width: 100%;
}

/* Fim Header */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;

}

.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 95%;
}

.title {
    display: flex;
    align-items: center;
}

img {
    width: 36px;
    height: 36  px;
    padding-right: 8px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #2699FB;
}

p {
    font-size: 18px;
    color: #2699FB;
}

.info {
    padding: 14px 10px;
}

.user-id {
    padding-bottom: 12px;
}

.options {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.options div {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

.reorder a {
    text-align: center;
    width: 60px;
}

a {
    text-decoration: none;
    color: #2699FB;
    font-size: 18px;
}

hr {
    margin-top: 8px;
    margin-bottom: 16px;
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color:#2699FB;
    height: 1px;
}

.center-border {
    display: none;
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row;
        margin-left: 24px;
        margin-right: 24px;
    }

    .center-border {
        margin-left: 12px;
        display: flex;
        width: 1px;
        height: 100vh;
        background-color: #2699FB;
    }

    .left {
        flex: 3;
        width: 30%;
        height: 100vh;
        overflow: scroll;
    }

    .right {
        flex: 9;
        height: 100vh;
        width: 70%;
        overflow: scroll;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 90vw;
    }
}