* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/bg-crieSuaConta.jpg');
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 341px;
    height: 392px;
    margin-top: 88px;
    margin-bottom: 0px; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px #000000A8;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 37px;
    padding-bottom: 32px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}

.formInput {
    width: 295px;
    height: 50px;
    border: 1px solid #2699fb;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

::-webkit-input-placeholder {
    color: #2699fb;
}

a {
    font-family: 'Century Gothic';
    font-size: 14px;
    line-height: 17px;
    color: #2699fb;
    text-decoration: underline;
}

.loginMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 256px;
    padding-top: 50px;
    padding-bottom: 86px;
}

.btnLogin {
    background-color: #2699fb;
    color: #FFF;
    border: none;
    border-radius: 4px;
    width: 286px;
    height: 44px;
    font-family: 'Century Gothic';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.btnMedia {
    width: 254px;
    height: 49px;
}