* {
    font-family: 'century gothic',Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Estilização da nav */
header {
    display: flex;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    background-color: #2299fb;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.goBack {
    display: flex;
    margin-right: auto;
}
.goBack img {
    margin-left: 0;
    width: 40px;
    height: 40px;
}

.h1 {
    display: flex;
    color: #fff;
    margin-right: auto;
    margin-left: -40px;
}

/* Estilização da Section */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 48px;
    background-image: url(img/bg-crieSuaConta.jpg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
}

/* Estilização do Form */
.formData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.signIn {
    width: 85vw;
    height: 43px;
    margin-top: 20px;
    padding-left: 15px;
    border: 1px solid #BCE0FD;
    font-size: 18px;
    line-height: 22px;
}

::-webkit-input-placeholder {
    color: #2299fb;
}

.buttonData {
    width: 254px;
    height: 43px;
    background-color: #2299fb;
    color: #fff;
    border: 1px solid #2299fb;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}