* {
    box-sizing: border-box;

    font-family: 'century gothic',Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
}

/* TITULO E BOTAO PARA VOLTAR*/

nav{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background: #2699FB 0% 0% no-repeat padding-box;
    opacity: 1;
}

a {
    z-index: 3000;
}

.nav-title {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center; 
}

.titulo {
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
}

.voltar-botao {
    width: 50px;
    height: 50px;
}

/* BACKGROUND */

.bg{
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}

/* INFORMAÇÕES DO PEDIDO */

.pedido{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.pedido h3{
    padding: 10px;
    color: #2699fb;
}

/* INFORMAÇÕES DE CONTATO */

.whats{
    width: 100%;
    margin: 30px 0;
    border: 1px solid #2699fb;
    border-radius: 3px;
}
.whats a{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.whats p {
    padding-left: 12px;
    font-size: 18px;
}

.whats h3, .whats p{
    color: #2699FB;
}

#whatsRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#whatsRow img{
    width: 40px;
}

@media only screen and (min-width: 750px){
    .pedido{
        width: 40%;
    }
    .whats{
        width: 100%;
    }
}